body
{
    overflow: hidden;
}

.container
{
    display: flex;
    height: 100vh; /* Fill the screen height */
    width: 100vw;  /* Fill the screen width */
    overflow: hidden;
    gap: 0px;
}

main
{
    flex-grow: 1; /* This pushes the content to fill the right side */
    overflow-y: auto; /* Adds a scrollbar only to the content area */
    padding: 10px 30px 10px 10px;
}

.headbar
{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #24262d;
    border-radius: 12px;
    height: 50px;
    width: 100%;
}

.pagetitle
{
    margin: 0;
    padding: 10px;
    color: aliceblue;
}

.profile
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;   
    background-position: center;
    background-image: url(profile.jpeg);
    cursor: pointer;
}

.view 
{
    width: 100%;
}

nav
{
    background-color: #23252b;
    width: 150px;
    border-radius: 12px;
    padding: 20px 10px;
    height: 100%;
    flex-shrink: 0; /* Prevents sidebar from squishing */
}

.navbar
{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;    
}

a
{
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: #9e9e9e;
    padding: 10px 15px; 
    transition: 0.5s; 
}

a:hover 
{
    background-color: #30333d;
    transition: 0.5s;
    border-left: solid white; 
    color: #ffffff;
}

.calculatedinfo
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.infocard
{
    background-color: #24262d; 
    color: #ffffff;
    text-align: center;
    height: 150px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid #30333d;
    flex: 1 1 200px;
    max-width: 100%;
}

p
{
    text-shadow: #121212;
    font-size: 25px;
}

article 
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    height: 350px; 
}

.tickets 
{
    max-height: 320px;
    max-width: 500px; 
    padding: 20px 10px;
    background-color:  #24262d;
    border-radius: 12px;
}

#logo
{   
    background: linear-gradient(cyan,violet);
    background-clip: text;
    font-size: 30px;
    font-family: Jokerman;
    padding: 10px;
    text-align: center;
    color: transparent
}

.priority
{
    max-height: 150px;
    min-width: 378px;
    background-color:  #24262d;
    padding: 10px 0px 10px 10px;
    border-radius: 12px;
}

.pending
{
    max-height: 320px;
    max-width: 506px;
    padding: 20px 10px;
    background-color:  #24262d;
    border-radius: 12px;
}
