body
{
    background-color: #121212;
}

.container
{
    display: flex;
    width: auto;
    gap: 50px;
}

.headbar
{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: auto;
}

.profile
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;   
    background-position: center;
    background-image: url(profile.jpeg);
}

.view 
{
    padding: 20px;
    width: 100%;
}

ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: #9e9e9e;
    transition: 0.2s;
    
}

nav ul li
{
    list-style: none;
    margin-bottom: 20px;
}

nav
{
   background-color: #1a1c23;
   height: 1000px;

}

nav ul li:hover {
    background-color: #30333d;
    border-width: 100%;
    border-top: 10px;
    border-bottom: 10px;
}

.calculatedinfo
{
    display: flex;
    gap: 55px;
}

.infocard
{
    background-color: #24262d; 
    color: #ffffff;
    height: 150px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid #30333d;
}

article 
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 400px; 
}

canvas 
{
    max-width: 400px; 
    max-height: 400px;
}

#logo
{   
    background: linear-gradient(cyan,violet);
    background-clip: text;
    font-size: 50px;
    font-family: Jokerman;
    color: transparent
}